/* Contact Section */

.contact-section {
  width: 100%;
  padding: 5rem 2rem;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
}

.contact-container {
  max-width: 1100px;
  width: 100%;
  text-align: center;
}

.contact-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact-subtitle {
  color: #444;
  margin-bottom: 3rem;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: start;
}

/* LEFT INFO BOX */
.contact-info {
  text-align: left;
}

.contact-info h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.2rem 0;
}

.icon {
  font-size: 1.5rem;
  color: #000;
}


.social-icons a {
  font-size: 1.6rem;
  color: #000;
  padding: 0.6rem;
  border: 2px solid #000;
  border-radius: 12px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #000;
  color: #fff;
  transform: translateY(-3px);
}

/* RIGHT FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.9rem;
  border: 2px solid #000;
  border-radius: 10px;
  outline: none;
}

.contact-form button {
  padding: 0.9rem;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  transform: translateY(-3px);
}

/* RESPONSIVE */
@media (max-width: 850px) {
  .contact-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .contact-info {
    text-align: center;
  }

  .info-item {
    justify-content: center;
  }
}
