/* Navbar Black & White Theme */

.navbar {
  width: 100%;
  padding: 2rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  z-index: 999;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000;
  transition: 0.2s ease;
}

.nav-links a:hover {
  color: #555;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #000;
  transition: 0.3s;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #fff;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid #e6e6e6;
    display: none;
  }
.nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}


























































































