/* Navbar Black & White Theme */

.navbar {
  width: 100%;
  padding: 2rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  z-index: 999;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.logo-img {
  height: 45px;
  width: auto;
  max-width: 80px;
  border-radius: 8px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.05) rotate(-2deg);
}

.logo span {
  font-weight: 700;
  font-size: 1.3rem;
  background: linear-gradient(135deg, #363133, #292828);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000;
  transition: 0.2s ease;
}

.nav-links a:hover {
  color: #555;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #000;
  transition: 0.3s;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #fff;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid #e6e6e6;
    display: none;
  }
.nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}


























































































